doctype html
html
  head
    title  Usuarios registrados
  body
    #registrationIndex
    div
      table
        thead
          tr
            th Name
            th Email
        tbody
          each val in registeredUsers
            tr
              td= val.name
              td= val.email
