doctype html
html
  head
    title  Formulario de registro
  body
  form( action = "/register", method = "post" )
    div
      label( for = "name" ) Nombre:
      input( type= "text" name= "name" )
    br
    div
      label( for = "email" ) Email:
      input( type= "text" name= "email" )
    br
    div
      label( for = "password" ) Password:
      input( type= "password" name= "password" )
    br
    button( type = "submit" ) Registrarse!
